{% extends 'layout.html.twig' %}

{% block stylesheet %}

	<link rel="stylesheet" href="/assets/css/home.css"/>
	<link rel="stylesheet" href="/assets/css/card.css"/>

{% endblock %}

{% block header %}
	<header>
		<div class="yellow-spacer bg-secondary"></div>
		<div class="header-container d-flex justify-content-center flex-column align-items-center text-center text-light">
			<h1 class="headerTitle">
				Les écuries d'Orléans</h1>
			<h2 class="pt-4 headerSubtitle">Circuit tout terrain d'1 km à Sougy
			</h2>
			<!-- ajouter les href vers la présentation -->
			<div class="arrows-container d-flex flex-column mt-5">
				<svg viewbox="0 0 24 24" class="arrow-down bounce">
					<path fill-rule="evenodd" fill="#1F1CC6" clip-rule="evenodd" d="M18.5303 9.46967C18.8232 9.76256 18.8232 10.2374 18.5303 10.5303L12.5303 16.5303C12.2374 16.8232 11.7626 16.8232 11.4697 16.5303L5.46967 10.5303C5.17678 10.2374 5.17678 9.76256 5.46967 9.46967C5.76256 9.17678 6.23744 9.17678 6.53033 9.46967L12 14.9393L17.4697 9.46967C17.7626 9.17678 18.2374 9.17678 18.5303 9.46967Z" fill="#030D45"/>
				</svg>
				<svg viewbox="0 0 24 24" fill="#FFFFFF" class=" arrow-down bounce">
					<path fill-rule="evenodd" fill="#FFFFF" clip-rule="evenodd" d="M18.5303 9.46967C18.8232 9.76256 18.8232 10.2374 18.5303 10.5303L12.5303 16.5303C12.2374 16.8232 11.7626 16.8232 11.4697 16.5303L5.46967 10.5303C5.17678 10.2374 5.17678 9.76256 5.46967 9.46967C5.76256 9.17678 6.23744 9.17678 6.53033 9.46967L12 14.9393L17.4697 9.46967C17.7626 9.17678 18.2374 9.17678 18.5303 9.46967Z" fill="#030D45"/>
				</svg>
				<svg viewbox="0 0 24 24" class="arrow-down bounce">
					<path fill-rule="evenodd" fill="#1F1CC6" clip-rule="evenodd" d="M18.5303 9.46967C18.8232 9.76256 18.8232 10.2374 18.5303 10.5303L12.5303 16.5303C12.2374 16.8232 11.7626 16.8232 11.4697 16.5303L5.46967 10.5303C5.17678 10.2374 5.17678 9.76256 5.46967 9.46967C5.76256 9.17678 6.23744 9.17678 6.53033 9.46967L12 14.9393L17.4697 9.46967C17.7626 9.17678 18.2374 9.17678 18.5303 9.46967Z" fill="#030D45"/>
				</svg>
			</div>
		</div>
		<div class="yellow-spacer bg-secondary"></div>
	</header>
{% endblock %}

{% block content %}
	<main class="container-fluid">
		<section>
			<div class="titleContentLight mt-4 p-2 text-center">
				<h2 class="text-primary titleLight">Présentation de l'association
				</h2>
			</div>
			<div class=" blue-spacer bg-primary w-100"></div>
			<p class="presentation-text m-5">
				{{ association.presentation }}
			</p>
			<div class=" blue-spacer bg-primary mb-4 w-75 m-auto"></div>
		</section>
		<section class="row g-3 justify-content-center">
			{% for section in sections %}
				<div class="col-md-6 d-flex justify-content-center ">
					<a class="mosaic-image-container position-relative d-flex justify-content-center w-100" href="/section?id={{ section.id }}">
						<img class="mosaic-image w-100 " src="{{'assets/upload/'~section.header is null ? '/assets/images/imgPlaceHolder.webp' : section.header}}" alt="image of {{section.name}}">
						<h3 class="position-absolute text-dark top-50 start-50 translate-middle">{{section.name}}</h3>
					</a>
				</div>
			{% endfor %}
			<div class="d-flex justify-content-center pb-4">
				<a class="mosaic-image-container position-relative d-flex justify-content-center w-100" href="/circuit">
					<img class="mosaic-image w-100" src=" assets/images/header_circuit2.jpeg" alt=" image of the circuit">
					<h3 class="position-absolute text-dark top-50 start-50 translate-middle">Circuit</h3>
				</a>
			</div>
		</section>
		<div class="titleContent bg-primary d-flex justify-content-center align-items-center">
			<h2 class="title text-center text-light p-2 pt-3">Evènement</h2>
		</div>
		<div class="cards bg-dark mx-5">
			{% for event in events %}
				<div class="card mb-5 m-auto col-lg-10">
					<div class="row g-0">
						<div class="col-md-4">
							<img src="{{'/assets/uploads/'~event.imgPath is null ? "/assets/images/Card1.jpeg" : event.imgPath}}" class="img-fluid rounded-start cardImg col-12" alt="Image de carte de l'evenement">
						</div>
						<div class="col-md-7 mx-md-4">
							<div class="card-body">
								<h3 class="card-title">{{ event.title }}</h3>
								<div class="row mx-2 my-4">
									<h4 class="col-2 course bg-primary pt-2 text-white">
										{{event.course}}
									</h4>
									<h4 class="date pt-2 text-center text-dark bg-secondary">
										Date
									</h4>
								</div>
							</div>
							<p class="card-text text-dark">
								{{ event.paragraph }}
							</p>
						</div>
					</div>
				</div>
			{% endfor %}
			<div class="all-event-content d-flex justify-content-end mr-0">
				<div class="event-content pt-2">
					<a href='#' class="all-event text-white px-2">Voir tous les évènements</a>
				</div>
			</div>
		</div>
		<section>
			<div class="titleContentLight mt-4 p-2 text-center">
				<h2 class="titleLight text-primary">Comment nous rejoindre :</h2>
			</div>
			<div class=" blue-spacer bg-primary w-100"></div>
			<div class="row m-0 divJoin">
				<div class="col-lg-6 col-12 bg-primary text-white">
					<div class="d-flex justify-content-center mx-3 align-items-center">
						<h3 class="member d-flex titleLight bg-white">
							<a class="text-primary text-decoration-none p-2" href="/">Je deviens Membre</a>
						</h3>
					</div>
				</div>
				<div class="col-lg-6 col-12 p-0 ">
					<img class=" font-image col-12 m-0 " src="assets/images/BMW.jpg" alt="image de voiture"/>
				</div>
			</div>
			<div class="d-flex justify-content-end mx-3 align-items-center ">
				<h3 class="contact d-flex titleLight bg-white">
					<a class="text-primary text-decoration-none p-2" href="/contact">Contact</a>
				</h3>
			</div>
		</section>
	</main>
{% endblock %}
