{% extends "admin_layout.html.twig"%}

{% block content %}
	{% if errors  %}
		<div class="d-flex justify-content-center flex-column align-items-center">
			<svg xmlns=" http://www.w3.org/2000/svg" width=" 120" height=" 120" fill=" #FF0000" class=" bi bi-exclamation-triangle py-2" viewbox=" 0 0 16 16">
				<path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
				<path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
			</svg>
			{% for error in errors %}
				<ul class="errors text-center text-danger fs-5">
					<li>{{ error }}</li>
				</ul>
			{% endfor %}
		</div>
	{% endif %}

	<form action="" method="POST" id="add-board">
		<div class="row admin-form m-auto my-4 p-2 w-75">
			<div class="mb-3 col-6">
				<label for="firstname" class="form-label">Prenom du membre</label>
				<input type="text" name="firstname" class="form-control" id="firstname" value="{{ member.firstname}}">
			</div>
			<div class="mb-3 col-6">
				<label for="lastname" class="form-label">Nom du membre</label>
				<input class="form-control" type="text" id="lastname" name="lastname" value="{{ member.lastname }}">
			</div>
			<div class="mb-3 col-6 m-auto">
				<label for="role" class="form-label">
					Role du membre</label>
				<select class="form-control" name="role" id="role">
					{% for role in roles %}
						<option value="{{ role }}">
							{{ role }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="mb-3 col-6 m-auto">
				<label for="gender" class="form-label">
					Genre du membre</label>
				<select class="form-control" name="gender" id="gender">
					<option value="M.">
						Monsieur
					</option>
					<option value="Mme.">
						Madame
					</option>
				</select>
			</div>
			<div class="mb-3 col-6 m-auto">
				<label for="email" class="form-label">
					Email du membre</label>
				<input class="form-control" name="email" id="email" type="email" value="{{ member.mail}}">
			</div>
			<div class="mb-3 col-6 m-auto">
				<label for="phone" class="form-label">
					Numéro de téléphone du membre</label>
				<input class="form-control" name="phone" id="phone" type="tel" value="{{ member.phone}}">
			</div>
			<div class="mb-3 m-auto">
				<label for="boardmember" class="form-label">
					Fait partie du bureau</label>
				<input name="boardmember" id="boardmember" type="checkbox">
			</div>
		</div>
		<div class="d-flex justify-content-between w-75 m-auto">
			<button type="submit" class="btn btn-success w-25 py-2">Valider</button>
			<a href="/admin/bureau" class="admin-buttons text-dark btn btn-outline-danger w-25 py-2">Annuler</a>
		</div>
	</form>
{% endblock %}
