{% extends 'admin_layout.html.twig' %}

{% block stylesheetGrandChild %}{% endblock %}

{% block content %}
	<h1 class="text-center my-4 mb-5">Sections sports</h1>
	<div class="d-grid gap-2 col-4 mx-auto my-4">
		<button class="btn btn-success d-flex justify-content-center align-items-center gap-2" type="button">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FAFAFD" class="bi bi-plus-circle-fill addButton" viewbox="0 0 16 16">
				<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
			</svg>
			<a href="/admin/sports/add" class="admin-buttons">
				Ajouter
			</a>
		</button>

	</div>
	{% for section in sections %}
		<div class="row my-5 justify-content-around g-0">
			<div class="admin-view-card col-9 card container-xxl">
				<div class="row g-0">
					<div class="col-md-8">
						<div class="card-body">
							<h2 class="card-title fs-3">{{section.name}}</h2>
							<p class="card-text fs-5">{{ section.presentation }}</p>
						</div>
					</div>
					<div class="col-md-4">
						<img src="{% if section.header is not null %} {{'/assets/uploads/'~section.header}} {% else %} {{'/assets/images/imgPlaceHolder.webp'}} {% endif %}" class="admin-header-image h-100 w-100 img-fluid rounded-start py-2" alt="header image of {{section.name}}">
					</div>
				</div>
			</div>
			<div class="admin-right-buttons col-1 d-flex flex-column justify-content-center">
				<div class="d-grid gap-2 col-4 mx-auto my-2"></div>
				<div class="d-grid gap-2 col-4 mx-auto my-2"></div>
			</div>
		</div>
	{% endfor %}
{% endblock %}
