{% extends 'admin_layout.html.twig' %}

{% block stylesheet %}{% endblock %}

{% block content %}
	<h1 class="text-center my-4 mb-5">Sections sports</h1>
	<div class="d-grid gap-2 col-4 mx-auto my-4">
		{{include ('/Components/_addButton.html.twig')}}
	</div>
	{% for section in sections %}
		<div class="row my-5 justify-content-around g-0">
			<div class="admin-view-card col-9 card container-xxl">
				<div class="row g-0">
					<div class="col-md-8">
						<div class="card-body">
							<h2 class="card-title fs-3">{{section.name}}</h2>
							<p class="card-text fs-5">{{ section.presentation }}</p>
						</div>
					</div>
					<div class="col-md-4">
						<img src="{{'assets/upload/'~section.header is null ? '/assets/images/imgPlaceHolder.webp' : section.header}}" class="admin-header-image h-100 w-100 img-fluid rounded-start py-2" alt="header image of {{section.name}}">
					</div>
				</div>
			</div>
			<div class="admin-right-buttons col-1 d-flex flex-column justify-content-center">
				<div class="d-grid gap-2 col-4 mx-auto my-2">
					{{include ('/Components/_editButton.html.twig')}}
				</div>
				<div class="d-grid gap-2 col-4 mx-auto my-2">
					{{include ('/Components/_deleteButton.html.twig')}}
				</div>
			</div>
		</div>
	{% endfor %}
{% endblock %}
