{% extends "visitor_layout.html.twig"%}
{% block stylesheetGrandChild %}
	<link rel="stylesheet" href="/assets/css/form.css">
{% endblock %}
{% block content %}
	<div class="yellow-spacer bg-secondary"></div>
	{% if errors %}
		<div class="d-flex justify-content-center flex-column align-items-center">
			<svg xmlns=" http://www.w3.org/2000/svg" width=" 120" height=" 120" fill=" #FF0000" class=" bi bi-exclamation-triangle py-2" viewbox=" 0 0 16 16">
				<path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
				<path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
			</svg>
			{% for error in errors %}
				<ul class="errors text-danger p-0 fs-5">
					<li>{{ error }}</li>
				</ul>
			{% endfor %}
		</div>
	{% endif %}
	<h2 class="text-center my-4">Formulaire de contact</h2>
	{% if message == 'good' %}
		<div class="alert alert-success" role="alert">
			<p class="m-0 text-center">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewbox="0 0 16 16">
					<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
				</svg>
				Bravo! Ton message a bien été envoyé.
			</p>
		</div>
	{% endif %}
	<form action="" method="POST" id="contact">
		<div class="row admin-form m-auto my-4 p-2 w-75">
			<div class="mb-3 col-md-5">
				<label for="name" class="form-label">Prénom et nom :</label>
				<input id="name" name="name" class="form-control" type="text" placeholder="John Doe" value="{{ valueForm.name }}" required>
			</div>
			<div class="mb-3 col-md-4">
				<label for="email" class="form-label">Email :</label>
				<input id="email" name="email" class="form-control" type="email" placeholder="circuit@gmail.com" value="{{ valueForm.email }}" required>
			</div>
			<div class="mb-3 col-md-3">
				<label for="subject" class="form-label">Sujet :</label>
				<select id="subject" name="subject" class="form-select" type="select" required>
					{% for section in sections %}
						<option value="{{section.id}}">{{section.name}}</option>
					{% endfor %}
					<option value="other">Autre</option>
				</select>
			</div>
			<div class="mb-3 ">
				<label for="message" class="form-label">Contenu de votre message :</label>
				<textarea minlength="10" id="message" name="message" class="form-control" placeholder="Votre Message..." required> {{ valueForm.message }} </textarea>
			</div>
		</div>
	</form>
	<div class="d-flex justify-content-between w-75 m-auto">
		<button type="submit" class="contact-button btn btn-primary w-25 py-2" form="contact">Envoyer</button>
	</div>
{% endblock %}
